*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header{
    background-color: black;
    padding: 20px 0px;
}

.centro_horizontal{
    width: 1200px;
    margin:auto;
    display: flex;
    justify-content: space-between;
}

.centro_vertical{
    width: 1200px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assunto1{
    background-color: #19E68C;
    padding: 100px 0px;
}

.texto1{
    text-align: center;
}

.texto1 a{
    color: white;
}

.texto1 a:hover{
    color: black;
}

h1{
    color: white;
    font-size: 58px;
    margin-bottom: 30px;
}

.assunto2{
    background-color: white;
    padding: 100px 0px;
}

h2, h3{
    font-size: 1.9em;
}

h3{
    color: white;
}

ul{
    display: flex;
    justify-content: space-between;    
}

li{
    margin:10px;
    text-transform: uppercase;
    color: white;
    list-style: none;
}

.assunto3{
    background-color: #222326;
    padding: 100px 0px;
}

.assunto3 a{
    color: #19E68C;
}

.assunto3 a:hover{
    color: white;
}

footer{
    background-color: black;
    padding: 20px 0px;
}

footer, footer a{
    color: grey;
    text-decoration: none;
}

footer div{
    text-align: right;
}

.alinhamento{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Medias queries*/
/*Tablet*/
@media (max-width: 1169px){
    header{
    }
    header img{
        display: flex;
        width: 300px;
        margin: auto;
    }
    .texto1{
        width: 600px;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-bottom: 40px;
    }
    .assunto1 img{
        display: flex;
        margin: auto;
        width: 600px;

    }
    .centro_horizontal{
        display: flex;
        width: 800px;
        flex-direction: column;
        margin: auto;
    }
}